<!-- Pages/Shared/_DashboardLayout.cshtml -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - EKG Worklist Service</title>
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()

    <script src="https://unpkg.com/&#64;microsoft/signalr@6.0.1/dist/browser/signalr.min.js"></script>
    <script src="~/js/dashboard.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>